.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 5px 0;
    transition: 0.4s;
}
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(0px, 0px) ;
    transform: rotate(-45deg) translate(-8px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(10px, 10px) ;
    transform: rotate(45deg) translate(-8px,-6px) ;
}
ul.topnav {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: black;
  list-style-type:none;
}
ul.topnav li {
    float: left; 
       
}
ul.topnav li a {
    height:35px;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
}
ul.topnav li a:hover{background: #555;}
ul.topnav li.icon{ display: none;}

@media screen and (max-width: 680px){
  ul.topnav li:not(:first-child){display:none;}
  ul.topnav li.icon {
    display: inline-block;
    float:right;
  }
}
@media screen and (max-width: 680px){
  ul.topnav.mobile { position: relative; }
  ul.topnav.mobile li.icon {
    position:absolute;
    top:0;
    right:0;
  }
  ul.topnav.mobile li {
    float:none; 
    display:inline;
  }
  ul.topnav.mobile li a {
    text-align: left;
    display:block;
  }
}