<div class="entry">
  <h1>This is my About page</h1>
  <div class="body">
    <span>Hello, {{user}}! Welcome on my About page</span>
    Go to <a href="/" data-path>Home page</a>


    <div class="container">
      <div class="row">
        <div class="col-sm">
          One of three columns 1
        </div>
        <div class="col-sm">
          One of three columns 2
        </div>
        <div class="col-sm">
          One of three columns 3
        </div>
      </div>
    </div>

{{> partialTemplate }}
  </div>
</div>