$basic-font-color: #fff;
$main-color: rgba(3, 154, 255, 1);

$navbar-font-color: #fff;
$navbar-background:  rgba(0, 173, 255, 1);
$navbar-background-opaque:  rgba(0, 173, 255, .3);
$leading-huge-button: rgb(111, 0, 0);
$navbar-border: #fff;
$navbar-link-text: rgba(142,219,255,1);
$navbar-link-border: rgba(142,219,255,1);
$gradient-top: rgba(101, 155, 212,1);
$gradient-bottom: rgba(3, 154, 255,1);