<section id="betslip" data-component="Betslip">
    <div class="main-tab" id="toggle">
        <p class="text">
            Betslip
        </p>
        <p class="count">
            1
        </p>
    </div>
    <div class="content">
        <div class="header" id="tapswipe">
				<span>
					Tap/Swipe to Close
				</span>
        </div>
        <div class="main">
            <div class="tabs">
                <div class="tab active">
                        <span class="text">
                            Bet Slip&nbsp;
                        </span>
                    <span class="cunt">
                            1
                        </span>
                </div>
                <div class="tab">
                        <span class="text">
                            Open Bets
                        </span>
                </div>
            </div>
            <div class="betslip">
                <p class="singles">
                    Singles (1 Selection)
                </p>
                <div class="with-close">
                    <p class="top">
                        Draw @14/5
                    </p>
                    <p>
                        Crystal Palace v Arsenal - 90 Minutes
                    </p>
                    <input type="text">
                </div>
                <div class="with-close">
                    <p class="top">
                        Draw @14/5
                    </p>
                    <p>
                        Crystal Palace v Arsenal - 90 Minutes
                    </p>
                    <input type="text">
                </div>
                <div class="with-close">
                    <p class="top">
                        Draw @14/5
                    </p>
                    <p>
                        Crystal Palace v Arsenal - 90 Minutes
                    </p>
                    <input type="text">
                </div>
                <div class="with-close">
                    <p class="top">
                        Draw @14/5
                    </p>
                    <p>
                        Crystal Palace v Arsenal - 90 Minutes
                    </p>
                    <input type="text">
                </div>
                <div class="with-close">
                    <p class="top">
                        Draw @14/5
                    </p>
                    <p>
                        Crystal Palace v Arsenal - 90 Minutes
                    </p>
                    <input type="text">
                </div>
                <div class="stake">
                        <span class="text">
                            Total Stake:
                        </span>
                        <span class="count">
                            0.00
                        </span>
                    <button>
                        Place Bet
                    </button>
                </div>
                <div class="clear-betslip">
                    <a href="#" class="clear">
                        Clear Bet Slip
                    </a>
                    <p>
                        All bets are accepted in accordance with the Willam Hill Betting Rules, as published on this site
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>