<div class="big-article-tile title-only">
    <div class="footer-infos">
        <div class="content-wrapper">
            <h2 class="title">It's a North v South Super Sunday as both Manchester clubs take on London opposition</h2>
            <h4 class="related-text">
                Related market lorem ipsum dolor
            </h4>
            <div class="button-wrapper">
                <input type="button" class="button" value="100/30" />
            </div>
            <a href="#" class="continue-reading-link">Continue reading...</a>
        </div>
    </div>
    <img class="article-img" style="background-image:url('/img/big-article-tile/football-large.png')">
</div>