<footer id="footer" class="footer-main">
    <div class="footer-back-to-top-wrapper">
        <div class="button-back-to-top watch-screen -is-visible">
            <div id="footer-btn-backtotop">
                <i class="chevron-up"></i>
                <span class="label">Back to top</span>
            </div>
        </div>
    </div>
    <div class="footer-wrapper">
        <section class="leftPanel"><a class="languageSelectionToggle">&nbsp;English<i
                class="flag-en-sprite"></i></a>
            <aside class="copyright"><a><span
                    class="footer-clock">13:32:13 UK</span></a>
                <span>| © 1998-2018 WHG (International) Ltd</span>
            </aside>
            <ul class="links">
                <li><a title="Terms &amp; Conditions" target="">Terms
                    &amp; Conditions</a></li>
                <li><a title="Privacy Policy" target="">Privacy
                    Policy</a></li>
                <li><a title="Rules" target="">Rules</a></li>
                <li><a title="Help"  target="">Help</a></li>
                <li><a title="Contact Us" target="">Contact Us</a>
                </li>
                <li><a title="William Hill Press Office" href="http://www.williamhillplc.com/" target="_blank">William
                    Hill Press Office</a></li>
                <li><a title="Your Feedback" target="">Your
                    Feedback</a></li>
                <li class="hidden-lg-down">
                    <a title="Shop Locator" href="http://31.193.137.143/whill/locator2/public/" target="_blank">Shop
                        Locator</a>
                </li>
                <li><a title="Jobs &amp; Careers" href="http://careers.williamhillplc.com/" target="_blank">Jobs
                    &amp; Careers</a></li>
                <li><a title="About William Hill" href="http://www.williamhillplc.com/" target="_blank">About
                    William Hill</a></li>
                <li><a title="Affiliate Program" href="http://www.affutd.com/" target="_blank">Affiliate Program</a>
                </li>
            </ul>
        </section>
        <section class="rightPanel">
            <ul class="paymentMethods inlineList">
                <li><a target="" title="Visa"><i class="visa-sprite" style="background-image: url('/img/footer/spritesheet.png');"></i></a>
                </li>
                <li><a target="" title="MasterCard"><i
                        class="mastercard-sprite" style="background-image: url('/img/footer/spritesheet.png');"></i></a></li>
                <li><a target="" title="Maestro"><i
                        class="maestro-sprite" style="background-image: url('/img/footer/spritesheet.png');"></i></a></li>
                <li><a target="" title="PayPal"><i
                        class="paypal-sprite" style="background-image: url('/img/footer/spritesheet.png');"></i></a></li>
                <li><a target="" title="Skrill"><i
                        class="skrill-sprite" style="background-image: url('/img/footer/spritesheet.png');"></i></a></li>
            </ul>
            <p class="respGambling">William Hill is committed to supporting
                <a>Responsible Gaming</a>. Underage gambling is an offence.</p>
            <ul class="clearfix gambling-links inlineList">
                <li><a title="18 Plus" href=""><i
                        class="icon-and-over"></i></a></li>
                <li><a title="Gambleaware" href="http://www.gambleaware.co.uk/" target="blank"><i
                        class="icon-gamble-aware"></i></a></li>
                <li><a title="Gamers Anonymous" href="http://www.gamblersanonymous.org.uk/" target="blank"><i
                        class="icon-gamblers-anonymous"></i></a></li>
                <li><a title="Gamblers Therapy" href="http://www.gamblingtherapy.org/" target="blank"><i
                        class="icon-gambling-therapy"></i></a></li>
                <li><a title="Responsible Gambling Trust" href="http://www.responsiblegamblingtrust.org.uk/"
                       target="blank"><i class="icon-responsible-gambling-trust"></i></a></li>
                <li><a title="GBGA" href="http://www.gbga.gi/" target="blank">
                    <i class="icon-gbga"></i></a></li>

                <li><a title="When the fun stops" href="http://www.whenthefunstops.co.uk/" target="blank"><i
                        class="whenthefunstops-sprite"></i></a></li>
            </ul>
            <article class="footer-cookies"><p class="footer-cookies-header">Cookie Notice</p>
                <p class="footer-cookies-text">William Hill uses cookies to help improve your experience whilst
                    visiting our site, help us with fraud prevention and to fulfil our legal and regulatory
                    obligations. Please read our <a>Terms and Conditions</a>, <a>Privacy Policy</a> and <a>FAQs</a> for further information on how we
                    use information obtained from cookies and how to change your cookie settings. By continuing to
                    use our website you consent to our use of cookies.</p></article>
            <article class="crest-sprite">
                <div class="crest-sprite-b4" style="background-image: url('/img/footer/spritesheet.png')"> </div>
                <p>William Hill is operated by WHG (International) Limited, a company
                registered in Gibraltar. William Hill is licensed and regulated by the <a target="_blank"
                                                                                          href="http://www.gamblingcommission.gov.uk/">UK
                    Gambling Commission</a> (<a target="_blank"
                                                href="https://secure.gamblingcommission.gov.uk/gccustomweb/PublicRegister/PRSearch.aspx?ExternalAccountId=39225">Number:
                    000-039225 R-319373-001</a>) for customers in Great Britain, and licensed by the Gibraltar
                Government and regulated by the <a title="Gibraltar Gambling Commissioner" target="_blank"
                                                   href="https://www.gibraltar.gov.gi/remotegambling">Gibraltar
                    Gambling Commissioner</a> (RGL no. 034 &amp; 042) for all other customers.</p>
                <p>The registered office of William Hill is at 6/1 Waterport Place, Gibraltar, with registered
                    company number 99191. William Hill is a registered <a target="_blank"
                                                                          href="http://www.ibas-uk.com">I.B.A.S</a>
                    bookmaker.</p></article>
        </section>
    </div>
</footer>