<section id="headerDesktop" class="hidden-md-down" data-component="NavbarDesktop">
    <nav class="wh-desktop-top">
        <ul>
            <li class="logo">
                <img src="/img/logos/wh-logo.svg" alt="">
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Betting</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Vegas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Live Casino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Casino</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Games</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Scratchcards</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Bingo</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Poker</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Macau</a>
            </li>
        </ul>
        <div class="btnWrp">
            <button class="btn login" type="submit">Login</button>
            <button class="btn join" type="submit">Join</button>
            <img src="/img/icons/magnifier-left.svg" alt="">
        </div>
    </nav>
    <nav class="wh-desktop-bottom">
        <ul class="left-section">
            <li id="desktopSearch">
                <img src="/img/icons/magnifier-left.svg" alt="">
            </li>
            <li>
                <a class="active" href="">
                    All News
                </a>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="dropsports">
                    Sports
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
                <div class="dropdown-body" id="dropsports">
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="icon"
                                 style="background: url('/img/icons/WH Sports Football.svg') center center no-repeat"></div>
                            <div class="name">
                                Football
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="dropfixtures">
                    Fixtures
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
                <div class="dropdown-body" id="dropfixtures">
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                fixtures
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                fixtures
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="dropresults">
                    Results
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
                <div class="dropdown-body" id="dropresults">
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                Results
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                Results
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="droptables">
                    Tables
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
                <div class="dropdown-body" id="droptables">
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                tables
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                tables
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="wh-more-hidden-above">
                <a class="dropDownTrigger" href="#" data-submenu-id="dropmore">
                    More
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
                <div class="dropdown-body" id="dropmore">
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                Vegas News
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                Casino News
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="item">
                            <div class="name">
                                The Team
                            </div>
                        </div>
                    </a>
                </div>
            </li>
            <li class="wh-more-hidden-below">
                <a href="">
                    Vegas News
                </a>
            </li>
            <li class="wh-more-hidden-below">
                <a href="">
                    Casino News
                </a>
            </li>
            <li class="wh-more-hidden-below">
                <a href="">
                    The Team
                </a>
            </li>
        </ul>
        <ul class="right-section">
            <li>
                <a href="">
                    Betting TV
                </a>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="dropradio">
                    Radio
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="dropoddsformat">
                    Odds Format
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
            </li>
            <li>
                <a href="">
                    English
                    <!--<span>-->
                       <!--<img src="/img/icons/chevron-down.svg" alt="">-->
                   <!--</span>-->
                </a>
            </li>
            <li>
                <a class="dropDownTrigger" href="#" data-submenu-id="drophelpsupport">
                    Help & Support
                    <span>
                       <img src="/img/icons/chevron-down.svg" alt="">
                   </span>
                </a>
            </li>
        </ul>

        <div class="dropdown-body-right" id="dropradio">
            <a href="#">
                <div class="item">
                    <div class="name">
                        tables
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <div class="name">
                        tables 2
                    </div>
                </div>
            </a>
        </div>

        <div class="dropdown-body-right" id="dropoddsformat">
            <a href="#">
                <div class="item">
                    <div class="name">
                        dropoddsformat
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <div class="name">
                        tables
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <div class="name">
                        tables
                    </div>
                </div>
            </a>
        </div>

        <div class="dropdown-body-right" id="drophelpsupport">
            <a href="#">
                <div class="item">
                    <div class="name">
                        tables
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="item">
                    <div class="name">
                        tables
                    </div>
                </div>
            </a>
        </div>

        <div id="desktopSearchBar">
            <div class="wrapper">
                <input type="text" placeholder="Search William Hill News…">
            </div>
        </div>
    </nav>
</section>
<section id="headerMobile" class="hidden-lg-up" data-component="NavbarMobile">
    <nav class="navbar wh-mobile-top" id="dad">
        <a class="nav-link" href="#">Betting</a>
        <a class="nav-link" href="#">Vegas</a>
        <a class="nav-link" href="#">Live Casino</a>
        <a class="nav-link" href="#">Casino</a>
        <a class="nav-link" href="#">Games</a>
        <a class="nav-link" href="#">Scratchcards</a>
        <a class="nav-link" href="#">Bingo</a>
        <a class="nav-link" href="#">Poker</a>
        <a class="nav-link" href="#">Macau</a>
    </nav>
    <nav class="navbar wh-mobile-bottom" id="mobileBtns">
        <div class="wrapper">
            <button class="btn" id="hamburger">
                H
            </button>
            <img class="logo" src="/img/logos/wh-logo.svg" alt="">
            <button class="btn login" type="submit">Login</button>
            <button class="btn join" type="submit">Join</button>
            <img src="/img/icons/magnifier-left.svg" alt="">
        </div>
    </nav>
    <div id="wh-menu-mobile">
        <div class="top" id="mobileNavTextWrapper">
            <p id="mobileNavText">
                Take me to...
            </p>
        </div>
        <div class="content">
            <div class="search toHideOnSubMenu">
                <input type="text" placeholder="Search William Hill News…">
                <div class="icon">
                </div>
            </div>
            <div class="section">
                <div class="title toHideOnSubMenu">
                    <p>
                        William Hill News
                    </p>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/all-news.svg') center center no-repeat">
                    </div>
                    <span>All News</span>
                </div>
                <div class="item subMenuTrigger" data-submenu-id="sports">
                    <div class="icon" style="background: url('/img/icons/sports.svg') center center no-repeat">
                    </div>
                    <span>Sports</span>
                    <div class="chevron-right"> ></div>
                </div>
                <div class="item subMenuTrigger" data-submenu-id="fixtures">
                    <div class="icon" style="background: url('/img/icons/fixtures.svg') center center no-repeat">
                    </div>
                    <span>Fixtures</span>
                    <div class="chevron-right"> ></div>
                </div>
                <div class="item subMenuTrigger" data-submenu-id="results">
                    <div class="icon" style="background: url('/img/icons/results.svg') center center no-repeat">
                    </div>
                    <span>Results</span>
                    <div class="chevron-right"> ></div>
                </div>
                <div class="item subMenuTrigger" data-submenu-id="tables">
                    <div class="icon" style="background: url('/img/icons/tables.svg') center center no-repeat">
                    </div>
                    <span>Tables</span>
                    <div class="chevron-right"> ></div>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/all-news.svg') center center no-repeat" data-submenu-id="oddsformat">
                    </div>
                    <span>Vegas News</span>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/all-news.svg') center center no-repeat">
                    </div>
                    <span>Casino News</span>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/the-team.svg') center center no-repeat">
                    </div>
                    <span>The Team</span>
                </div>
            </div>
            <div class="section">
                <div class="title toHideOnSubMenu">
                    <p>
                        Media
                    </p>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/betting-tv.svg') center center no-repeat">
                    </div>
                    <span>Betting TV</span>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/radio.svg') center center no-repeat">
                    </div>
                    <span>Radio</span>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/podcast.svg') center center no-repeat">
                    </div>
                    <span>Podcast</span>
                </div>
            </div>
            <div class="section">
                <div class="title toHideOnSubMenu">
                    <p>
                        Settings
                    </p>
                </div>
                <div class="item subMenuTrigger" data-submenu-id="oddsformat">
                    <div class="icon" style="background: url('/img/icons/odds-format.svg') center center no-repeat">
                    </div>
                    <span>Odds Format</span>
                    <div class="chevron-right"> ></div>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/podcast.svg') center center no-repeat">
                    </div>
                    <span>Language</span>
                </div>
            </div>
            <div class="section">
                <div class="title toHideOnSubMenu">
                    <p>
                        Support
                    </p>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/contact-us.svg') center center no-repeat">
                    </div>
                    <span>Contact us</span>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/help.svg') center center no-repeat">
                    </div>
                    <span>Help</span>
                </div>
                <div class="item">
                    <div class="icon" style="background: url('/img/icons/live-chat.svg') center center no-repeat">
                    </div>
                    <span>Live Chat</span>
                </div>
            </div>

            <!-- SUB-MENUS -->
            <div class="wh-menu-mobile-sub" id="sports">
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
                <a href="#">
                    American Footbal
                </a>
            </div>

            <div class="wh-menu-mobile-sub" id="fixtures">
                <a href="#">
                    Aussie Rules
                </a>
            </div>

            <div class="wh-menu-mobile-sub" id="results">
                <a href="#">
                    Aussie Rules
                </a>
            </div>

            <div class="wh-menu-mobile-sub" id="tables">
                <a href="#">
                    Aussie Rules
                </a>
                <a href="#">
                    Aussie Rules
                </a>
            </div>

            <div class="wh-menu-mobile-sub" id="oddsformat">
                <a href="#">
                    Aussie Rules
                </a>
            </div>
        </div>
    </div>
</section>