<section id="hero" class="hidden-md-down" data-component="HeroDesktop">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="bg" style="background:url('/img/hero/aguero.jpg') center center no-repeat;">
                    <div class="hero-text">
                        <div class="hero-text-wrapper">
                            <div class="time-bar"></div>
                            <h1>
                                RCAP It's a North v South Super Sunday as both Manchester clubs take on London
                                opposition.
                            </h1>
                        </div>
                    </div>
                    <div class="hero-text-hover">
                        <div class="wrapper">
                            <h1>
                                [LEWD] t's a North v South Super Sunday as both Manchester clubs take on London
                                opposition.
                            </h1>
                            <a href="#">
                                Read article…
                            </a>
                            <div class="bottom">
                                <p>
                                    Sergio Aguero to score a hattrick and Man City have over 9.5 corners
                                </p>
                                <button>
                                    100/30
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-inactive">
                    <div class="grad"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg" style="background:url('/img/hero/joshua2.jpg') center center no-repeat;">

                    <div class="hero-text">
                        <div class="hero-text-wrapper">
                            <div class="time-bar"></div>
                            <h1>
                                It's a North v South Super Sunday as both Manchester clubs take on London opposition.
                            </h1>
                        </div>
                    </div>
                    <div class="hero-text-hover">
                        <div class="wrapper">
                            <h1>
                                It's a North v South Super Sunday as both Manchester clubs take on London
                                opposition.
                            </h1>
                            <a href="#">
                                Read article…
                            </a>
                            <div class="bottom">
                                <p>
                                    Sergio Aguero to score a hattrick and Man City have over 9.5 corners
                                </p>
                                <button>
                                    100/30
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-inactive">
                    <div class="grad"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg" style="background:url('/img/hero/vegas.jpg') center center no-repeat;">
                </div>
                <div class="bg-big-ad" style="background:url('/img/hero/vegas.jpg') center center no-repeat;">
                    <div class="hero-inactive">
                        <div class="grad"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="bg" style="background:url('/img/hero/dettori.jpg') center center no-repeat;">
                    <div class="hero-text">
                        <div class="hero-text-wrapper">
                            <div class="time-bar"></div>
                            <h1>
                                On this day, 21 Years ago, Frankie Dettori rode all seven winners at Ascot costing the bookmakers £40million!
                            </h1>
                        </div>
                    </div>
                    <div class="hero-text-hover">
                        <div class="wrapper">
                            <h1>
                                It's a North v South Super Sunday as both Manchester clubs take on London
                                opposition.
                            </h1>
                            <a href="#">
                                Read article…
                            </a>
                            <div class="bottom">
                                <p>
                                    Sergio Aguero to score a hattrick and Man City have over 9.5 corners
                                </p>
                                <button>
                                    100/30
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hero-inactive">
                    <div class="grad"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="hero-mobile" class="hidden-lg-up" data-component="HeroMobile">
    <div class="carousel">
        <div class="item" style="background:url('/img/hero/aguero.jpg') center top no-repeat;background-size:cover">
            <div class="text-wrapper">
                <h1>
                    How do Anthony Joshua’s stats compare as he prepares for his 20th professional fight?
                </h1>
                <a href="#">
                    Read article…
                </a>
                <div class="bottom">
                    <p>
                        Anthony Joshua to beat Tyson Fury by knockout in the fifth round
                    </p>
                    <button id="temptrigger">
                        100/30
                    </button>
                </div>
            </div>
        </div>
        <div class="item" style="background:url('/img/hero/joshua2.jpg') center top no-repeat;background-size:cover">
            <div class="text-wrapper">
                <h1>
                    How do Anthony Joshua’s stats compare as he prepares for his 20th professional fight?
                </h1>
                <a href="#">
                    Read article…
                </a>
                <div class="bottom">
                    <p>
                        Anthony Joshua to beat Tyson Fury by knockout in the fifth round
                    </p>
                    <button>
                        100/30
                    </button>
                </div>
            </div>
        </div>
        <div class="item"
             style="background:url('/img/hero/vegas.jpg') center center no-repeat;background-size:100% 100%">
        </div>
        <div class="item" style="background:url('/img/hero/dettori.jpg') center top no-repeat;background-size:cover">
            <div class="text-wrapper">
                <h1>
                    How do Anthony Joshua’s stats compare as he prepares for his 20th professional fight?
                </h1>
                <a href="#">
                    Read article…
                </a>
                <div class="bottom">
                    <p>
                        Anthony Joshua to beat Tyson Fury by knockout in the fifth round
                    </p>
                    <button>
                        100/30
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>