<section id="slides-latest-news" class="wh-slides" data-component="Slides">
    <div class="title">
        <h2>
            Latest News B
        </h2>
    </div>
    <div class="carousel">
        <div class="item">
            <img src="/img/hero/joshua2.jpg" alt="">
            <div class="with-betslip">
                <h2>
                    Key Stats: All you need to know about Manchester City’s season at the top.
                </h2>
                <div class="bottom hidden-lg-down">
                    <p>
                        Manchester City to beat Liverpool 3-1
                    </p>
                    <button>
                        100/30
                    </button>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="/img/hero/dettori.jpg" alt="">
            <div class="with-player-text">
                <img class="playbtn" src="/img/slider/play-btn.svg" alt="">
                <div class="bottom">
                    <h2>
                        The Punt Podcast
                    </h2>
                    <p class="hidden-lg-down">
                        7th November
                    </p>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="/img/hero/joshua2.jpg" alt="">
        </div>

        <div class="item">
            <img src="/img/hero/aguero.jpg" alt="">

            <div class="with-ribbon">
                <div class="heading">
                    <h2>Football competition - Free to enter!</h2>
                </div>
                <div class="ribbon-wrapper">
                    <div class="ribbon" style="background-color: #ffaf00">
                        GIVEAWAY
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="/img/hero/joshua2.jpg" alt="">
        </div>

        <div class="item">
            <img src="/img/hero/dettori.jpg" alt="">

            <div class="with-ribbon">
                <div class="heading">
                    <h2>RCAG is currently top tech solution. Learn more!</h2>
                </div>
                <div class="ribbon-wrapper">
                    <div class="ribbon" style="background-color: #ff00ff">
                        FREE
                    </div>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="/img/hero/dettori.jpg" alt="">

            <div class="with-heading">
                <div class="heading">
                    <h2>That's a title, nice one!</h2>
                </div>
            </div>
        </div>
    </div>
</section>