$colors: (
        dark:#000c24,
        blueDark: #000F3F,
        blueLight:#112456,
        greyLight:#B5B8C0,
        greyDark:#273359,
        yellow:#faff05,
        azure: #00adff,
        navy: #00143c,
        brightMagenta: #ff00ff
);