@font-face {
  font-family: 'WHHoxton';
  src: url('fonts/WHHoxtonWeb-Regular.eot');
  src: url('fonts/WHHoxtonWeb-Regular.eot?#iefix') format('embedded-opentype'),
  url('fonts/WHHoxtonWeb-Regular.woff2') format('woff2'),
  url('fonts/WHHoxtonWeb-Regular.woff') format('woff'),
  url('fonts/WHHoxtonWeb-Regular.ttf') format('truetype'),
  url('fonts/WHHoxtonWeb-Regular.svg#WHHoxtonWeb-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}