<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>webpack starterkit</title>
</head>
<body class="preload">

<%= require('./partials/header.html') %>
<%= require('./partials/betslip.html') %>

<section id="content">
    <%= require('./partials/hero.html') %>
    <%= require('./partials/slides.html') %>

    <%= require('./partials/big-article-tile.html') %>

    <!-- footer -->
    <%= require('./partials/footer.html') %>
</section>

<%= require('./partials/template-slick-slider.html') %>
</body>
</html>