@import url(https://fonts.googleapis.com/css?family=Titillium+Web);
body {
	background: url("../images/cartographer.png ") repeat;
	/*blackorchid.png			słaby
	* cartographer.png 		dobry jest
	* stressed_linen.png		może być
	* wild_oliva.png 			kiepski
	* dark_geometric.png 		może być
	*/
	margin:0px;
}
.container {	
	width: 80%;
	height: 80%;
	margin: 0 auto;
}

.head {
	width: 100%;
	height: 110px;
	border-bottom: 1px solid #0179af;
}
.sidebar {
	width: 15%;
	height: 700px;
	border-right: 1px solid #0179af;
	overflow: hidden;
	float:left;
}
.name {
	font-family: 'Titillium Web', sans-serif;
	color: #0179af;
	float: right;
	font-size: 30px;
	font-weight: 700;
	margin-top: 50px;
	margin-right: 1%;
}
#menu{
	margin-top: 200px;
	width:100%;
	
}
#menu ul {
	width: 100%;
	display: inline-block;	
	margin: 0px;
	padding: 0px;
	
}
#menu ul li:first-child {
	border-top:1px dashed #0179af;
}
#menu ul li {
	padding: 0px;
	border-bottom:1px dashed #0179af;
	width:100%;
	margin:0px;	
	display:block;
	list-style-type: none;
	font-size: 18px;
}
#menu ul li:hover {
	background: #470000;
	animation-name: example;
	animation-duration: 1s;
	font-size: 18px;
}
#menu ul li a {
	font-family: 'Lato', sans-serif;
	display: block;	
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;		
	font-weight: 600;
	padding: 15px;
	color: #03a9f4;
}
#menu ul li a:hover {
	color: white;
	
}
#menu ul li a:hover {
	color: white;
}
.project{
	color: gray;
	width: 1000px;
	height: 200px;
	border: 1px solid gray;
	float:left;
	margin-top: 50px;
	margin-left: 100px;
	padding: 20px;
}
.project p{
	margin-bottom: 30px;
}
.project .app{
	float:right;
}
@keyframes UpAnim {
    from {font-size: 18px;
    }
    to {font-size: 20px;padding: -2px;
    }
}
@keyframes DownAnim {
    from {font-size: 20px;}
    to {font-size: 18px;}
}
@keyframes example {
    0%   {background-color: #470000;}
    10%  {background-color: #590000;}
    15%  {background-color: #470000;}
    100% {background-color: #470000;}
}
.btn {
  background: #0179AF;
  background-image: -webkit-linear-gradient(top, #0179AF, #2980b9);
  background-image: -moz-linear-gradient(top, #0179AF, #2980b9);
  background-image: -ms-linear-gradient(top, #0179AF, #2980b9);
  background-image: -o-linear-gradient(top, #0179AF, #2980b9);
  background-image: linear-gradient(to bottom, #0179AF, #2980b9);
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #1097d1;
  background-image: -webkit-linear-gradient(top, #1097d1, #3498db);
  background-image: -moz-linear-gradient(top, #1097d1, #3498db);
  background-image: -ms-linear-gradient(top, #1097d1, #3498db);
  background-image: -o-linear-gradient(top, #1097d1, #3498db);
  background-image: linear-gradient(to bottom, #1097d1, #3498db);
  text-decoration: none;
}
.button1 {
    background-color: transparent;
    padding: 30px 50px 30px 50px;
    float:right;
    font-family: Arial;
    font-size: 15px;
  	color: #ffffff;
    text-decoration: none;
    border: 1px solid #008CBA;
    text-align: center;
    cursor: pointer;
}
.button1:hover{
	background: #470000;
}