#hero {
  .container-fluid {
    .row {
      .col-md-3 {
        padding: 0;
        position: relative;
        .bg {
          height: 500px;
          position: relative;
          background-size: cover !important;

          .hero-text {
            min-height: 140px;
            opacity: 0;
            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba(0, 20, 60, 0.5);
            text-align: left;
            .hero-text-wrapper {
              position: relative;
              .time-bar {
                position: absolute;
                top: 0;
                height: 1px;
                width: 0;
                transition: width 5s linear;
                background: #00adff;
                opacity: 0;
              }
              h1 {
                padding-left: 24px;
                padding-right: 24px;
                max-width: 312px;
                padding-top: 24px;
                width: 100%;
                font-size: 20px;
                font-weight: bold;
                color: white;
              }
            }
          }
          .hero-text-hover {
            opacity: 0;
            border-top: 1px solid #00adff;
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 20, 60, 0.5);
            padding-top: 24px;
            .wrapper {
              padding-left: 16px;
              padding-right: 16px;
              h1 {
                font-size: 20px;
                color: #ffffff;
                font-weight: bold;

                transform: translateX(-50%);
                position: relative;
                left: 50%;
              }
              a {
                font-size: 16px;
              }
              .bottom {
                margin-bottom: 24px;

                p {
                  font-size: 14px;
                  max-width: 196px;
                  color: #ffffff;
                  vertical-align: top;
                  display: inline-block;
                  margin-right: 8px;
                }
                button {
                  display: inline-block;
                  cursor: pointer;
                  font-size: 18px;
                  font-weight: bold;
                  width: 108px;
                  height: 44px;
                  border-radius: 2px;
                  color: #00143c;
                  border: 0;
                  background: color(yellow);
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
        .bg-big-ad {
          height: 500px;
          width: 101%;
          z-index: 500;
          background-size: 890px 500px !important;
          position: absolute;
          top: 0;
          left: 50%;
          display: table;
          -webkit-backface-visibility: hidden;
          -webkit-transform-style: preserve-3d;
          -webkit-transform: translate3d(-50%, 0, 0) scale(1) rotate(0);
          transform: translate3d(-50%, 0, 0) scale(1) rotate(0);
          transition: all 300ms ease-in-out;
          .hero-inactive {
            height: 500px;
            width: 100%;
            background: #122853;
            opacity: 0.8;
            position: absolute;
            top: 0;
            z-index: 150;
            .grad {
              width: 100%;
              height: 100%;
              background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
            }
          }
        }
        .hero-inactive {
          height: 500px;
          width: 100%;
          background: #122853;
          opacity: 0.8;
          position: absolute;
          top: 0;
          z-index: 150;
          .grad {
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
          }
        }
      }
    }
  }
}

#hero-mobile {
  .carousel {
    .item {
      height: 350px;
      position: relative;
      .text-wrapper {
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: rgba(0, 20, 60, 0.5);
        border-top: 1px solid #00adff;
        padding: 16px 8px;
        h1 {
          font-size: 16px;
          font-weight: bold;
          color: #ffffff;
          margin: 0;
          padding-bottom: 8px;
        }
        a {
          padding-bottom: 8px;
          font-size: 14px;
          color: #00adff;
        }
        .bottom {
          display: flex;
          justify-content: space-between;
          p {
            font-size: 14px;
            color: #ffffff;

            padding-right: 7px;
          }
          button {

            max-width: 82px;
            max-height: 40px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            border-radius: 2px;
            color: #00143c;
            margin-right: auto;
            border: 0;
            background: color(yellow);
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
    .slick-dots {
      li {
        margin: 0 0 0 -8px;
        button {
          &:before {
            color: #96a3c4;
            font-size: 10px;
          }
        }
      }
      .slick-active {
        button {
          &:before {
            color: #00adff;
          }

        }
      }
    }
  }
}