
.icon-coding {
	background-image: url('png/coding.png');
	background-repeat: no-repeat;
}

.icon-computer {
	background-image: url('png/computer.png');
	background-repeat: no-repeat;
}

.icon-decrease {
	background-image: url('png/decrease.png');
	background-repeat: no-repeat;
}

.icon-profile {
	background-image: url('png/profile.png');
	background-repeat: no-repeat;
}